/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.container {
    width: 80%;
}

.event-card {
    background-color: lightgrey;
    padding: 15px;
    margin: 10px;
    opacity: 40%;
}